.button-delete {
    width: 250px;
    height: 40px;
    position: absolute;
    margin-top: 125px;
    transform: translateY(-210%);
    right: 10%;
    color: white;
}

.button-delete a {
    color: white;
}

.button-delete:hover a {
    color: #f5f5f5;
    text-decoration: none;
}


button:hover {
    border-color: #ffffff;
}