.column-container {
    display: flex;
    margin: 0 -10px;
    overflow-x: auto;
}

.column {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 18px;
    width: 320px;
    max-width: 400px;
    margin-right: 16px;
}

.column h2 {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column li {
    margin-bottom: 10px;
    text-align: left;
}

.column li a {
    color: #00624d;
    text-decoration: none;
}

.column li a:hover {
    color: #00988b
}

.accordion-button,
.sort-button,
.common-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    width: 42px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    margin-right: 10px;
}

.sort-button {
    margin-right: -5px;
}

